* {
	box-sizing: border-box;
	margin:0;
	padding:0;

}

#title {
	display: flex;
	background-color: bisque;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 6vh;
}

#welcome {
	font-size: 1.5vw;
	font-style: italic;
	color:white;
	width: 6vw;
    text-align: center;
    position: relative;
    bottom: -1.5vh;
}

#name {
	font-size: 2.2vw;
	font-style: italic;
	color:white;
	width: 13.2vw;
	text-align: center;
}

#navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
	float: right;
	width: 20%;
	height: 12vh;
    display: flex;
    position: absolute;
    right: 0px;
}
 

 
.navbar_li {
    display: block;
    color: rgb(255, 255, 255);
	text-align: center;
	font-size:1vw;
	float: right;
    padding: 0.8vw 0.4vh;
	text-decoration: none;
	width: 4.8vw
}
 
/*鼠标移动到选项上修改背景颜色 */
li a:hover {
    background-color: rgb(87, 83, 83);
}
#logo{
	width:8.44%;
	height: 12vh;
	text-align: center;
}

.login_or_register {
    position: relative;
    bottom: -2.5vh;
    left:1vw;
    padding: 0vh 0.2vw;
}    

#search_bar {
    display: flex;
}


#search_bar_img {
    width:25vw;
    text-align: center;
}

#search_bar_window {
    position: absolute;
    right:5vw;
    top:10vh;
}

#nav1 {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
	float: right;
	width: 100%;
	height: 7vh;
    display: flex;
    position: absolute;
    right: 0px;
    background-color: aqua;
}



.nav1_a {
    display: block;
    color: rgb(255, 255, 255);
	text-align: center;
	font-size:1vw;
	float: right;
    padding: 2.1vh 0vw;
	text-decoration: none;
	width: 7vw
}

.nav1_li {
    padding: 0px 2vw;
    
}